*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #b1b0b0;
  font-family: 'Poppins';
}

.container {
  width: 100%;
  max-width: 1200px;
  overflow: visible;
  margin: auto;
}

.container2 {
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

a:hover {
  text-decoration: none !important;
}

/* Header */
header::before {
  content: "";
  margin-bottom: 90px;
  display: block;
}

.nav-bar-principal {
  height: 90px;
  width: 100%;
  background: #1c2347;
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 10px;
  line-height: 0 !important;
}

.nav .logo > a {
  font-size: 2vw;
  cursor: pointer;
  font-family: "Fredoka One", cursive;
  color: #fff;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  font-weight: 300;
  vertical-align: center;
  font-style: italic;
}

.nav .logo > a span {
  color: #4254bb;
}

.nav .logo > a:hover {
  color: #fff !important;
}

nav i {
  height: 20px !important;
}

.container-btns-nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.login-btn-nav > button:focus {
  outline: none;
}

.login-btn-nav > button {
  text-decoration: none;
  outline: none;
  border: 0;
  line-height: normal;
  width: 140px;
  margin-left: 20px;
  padding: 10px 10px;
  color: #1c2347;
  background: #fff;
  border-radius: .2em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vw;
  font-weight: bold !important;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.login-btn-nav > button:hover {
  color: #fff;
  background: #4254bb;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  text-decoration: none;
}

.register-btn-nav > a {
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 5px;
  color: #fff;
  border-radius: .2em;
  font-size: 1.2vw;
  font-family: 'Poppins', sans-serif;
}

.register-btn-nav > a:hover {
  color: #fff;
  text-decoration: none;
}

.nav .hamburguer {
  display: none;
}

/* About Us */
.about-us-section {
  width: 100%;
  background-image: url("../img/Hero.svg");
  background-size: cover;
  background-origin: inherit;
  background-repeat: no-repeat;
  background-position: top;
}

.content-about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 87vh;
}

.cont_imagenport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  position: relative;
  height: 100%;
}

.cont_imagenport img {
  width: 35vw;
  height: 35vw;
}

.about-us-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.textos-about-us {
  width: 40%;
  text-align: left;
}

.textos-about-us span {
  color: #fcc106;
}

.textos-about-us p {
  color: #fff;
  font-size: 1.3vw;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  line-height: normal;
}

.textos-about-us button {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.2vw;
  padding: 3% 8%;
  border-radius: 0;
  background-color: #4254bb;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0;
}

.textos-about-us button:focus {
  background-color: #fff !important;
  color: #1c2347 !important;
}

.textos-about-us button:hover {
  color: #1c2347 !important;
  background-color: #fff !important;
}

.textos-about-us > h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 4.5vw;
  font-weight: 700;
  color: #fff;
}

.divider {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.divider.divider-about-us {
  margin-top: 0px;
}

/* Select */
.select-section {
  width: 100%;
  background-color: #fff;
  background-image: url("../img/SelectSection.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.header-select {
  padding-bottom: 8%;
  width: 100%;
}

.header-select h1 {
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #4254bb;
}

.content-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 90vh;
}

.content-select .card-select {
  background-color: #fff;
  border: 1px solid rgba(112, 112, 112, 0.2);
  width: 350px;
  height: 470px;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.content-select .card-select .cardsl-header {
  width: 100%;
}

.content-select .card-select .cardsl-header img {
  margin-top: -50px;
  height: 15vw;
  width: 100%;
}

.content-select .card-select .cardsl-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2rem;
}

.content-select .card-select .cardsl-body h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #707070;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.content-select .card-select .cardsl-body p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #707070;
}

.content-select .card-select .cardsl-footer {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-select .card-select .cardsl-footer button {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #4254BB;
  font-size: 1.3vw;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 0;
  border-radius: 28px;
  padding: 10px 31px;
}

.content-select .card-select .cardsl-footer button:focus {
  background-color: #fff !important;
  color: #1c2347 !important;
  border: 1px solid #1c2347;
}

.content-select .card-select .cardsl-footer button:hover {
  color: #1c2347 !important;
  background-color: #fff !important;
  border: 1px solid #1c2347;
}

.content-select .card-select:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  border: 0 solid rgba(112, 112, 112, 0.15);
}

/* Sobre Nosotros */
.about-section {
  background-color: #f5f5f5;
  width: 100%;
  background-image: url("../img/AboutSection.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.about-section .content-about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  width: 100%;
  height: 50vh;
}

.about-section .content-about .container-image-about {
  padding: 3%;
  width: 100%;
}

.about-section .content-about .container-image-about img {
  width: 100%;
  height: 20vw;
}

.about-section .content-about .text-sobre {
  padding: 5% 12%;
  width: 100%;
}

.about-section .content-about .text-sobre h1 {
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #4254bb;
}

.about-section .content-about .text-sobre p {
  padding: 5% 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #707070;
  width: 100%;
  font-size: 1.5vw;
}

/* Footer */
.footerWC {
  width: 100%;
  background: #1c2347;
  overflow: hidden;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
}

.footsects {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.footsects h1 {
  font-size: 40px;
  font-family: "Fredoka One", cursive;
  color: #fff;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  font-weight: 300;
}

.footsects h2 {
  color: #8396ff;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  font-weight: 300;
  font-size: 30px;
  font-family: "Fredoka One", cursive;
}

.footsects > a {
  display: block;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footsects > a:hover {
  color: #8497f7;
  text-decoration: none;
}

.social-media-footer > i {
  font-size: 22px;
  font-weight: 100px;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 38px;
  border: 1px solid #aaa5a5;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.social-media-footer > i:hover {
  color: #1c2347;
  background: #fff;
  border-color: #fff;
}

/* Responsive */
@media (max-width: 1200px) {
  .cont_imagenport {
    width: 40%;
  }
}

@media (max-width: 1020px) {
  .content-about {
    height: 30vh !important;
  }
  .content-about .container-image-about img {
    height: 22vw !important;
  }
  .content-about-us {
    height: 55vh;
  }
  .textos-about-us p {
    font-size: 2vw !important;
  }
}

@media (max-width: 800px) {
  .content-about-us {
    height: 45vh;
  }
  .login-btn-nav button {
    font-size: 3vw !important;
    width: 100% !important;
  }
  .register-btn-nav a {
    font-size: 3vw !important;
    margin-left: 29px;
    width: 100%;
  }
  .container-btns-nav {
    width: 70%;
  }
  .textos-about-us p {
    font-size: 2.5vw !important;
  }
}

@media (max-width: 720px) {
  .content-select {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh !important;
  }
  .content-select .card-select {
    margin: 2rem 0;
  }
  .login-btn-nav button {
    font-size: 3vw !important;
    width: 100% !important;
  }
  .container-btns-nav {
    width: 67%;
  }
  .register-btn-nav a {
    font-size: 3vw !important;
    margin-left: 29px;
    width: 100%;
  }
  .nav .logo a {
    font-size: 4.4vw !important;
  }
}

@media (max-width: 580px) {
  .about-us-section {
    background-image: none;
    background-color: #1c2347;
  }
  .content-about-us .cont_imagenport {
    display: none !important;
  }
  .container,
  .container-sm {
    max-width: 480px !important;
  }
  .textos-about-us {
    width: 100% !important;
    padding: 0 4%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .textos-about-us h3 {
    text-align: center !important;
    font-size: 7vw;
  }
  .textos-about-us p {
    text-align: center;
    font-size: 3.5vw !important;
  }
  .textos-about-us button {
    font-size: 3.2vw;
    padding: 2% 5%;
    width: 40%;
  }
  .login-btn-nav button {
    font-size: 3vw !important;
    width: 100% !important;
  }
  .container-btns-nav {
    width: 70%;
  }
  .register-btn-nav a {
    font-size: 3vw !important;
    margin-left: 29px;
    width: 100%;
  }
  .nav .logo a {
    font-size: 4.4vw !important;
  }
  .card-select .cardsl-body p {
    font-size: 4vw;
  }
  .card-select .cardsl-footer button {
    font-size: 3.3vw !important;
  }
  .content-about {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100% !important;
        grid-template-columns: 100% !important;
    -ms-grid-rows: 50% 50% !important;
        grid-template-rows: 50% 50% !important;
  }
  .about-section .content-about .text-sobre p {
    font-size: 3.4vw;
  }
  .about-section .content-about .text-sobre {
    padding: 5% 10%;
  }
  .about-section .content-about .container-image-about img {
    height: 30vw !important;
  }
  .container2 {
    padding: 30px 0;
  }
}

/* Navigation After Login or Register */
.profile-dropdown {
  display: inline-block;
  position: relative;
  background: #f2f2f2;
  margin: auto;
  font-weight: normal;
  font-size: .9rem;
  border-radius: 3px;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.profile-dropdown * {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.profile-dropdown input[type="checkbox"] {
  display: none;
}

.profile-dropdown input[type="checkbox"]:checked ~ ul {
  display: block;
  -webkit-animation: push 0.3s linear 1;
          animation: push 0.3s linear 1;
}

.profile-dropdown input[type="checkbox"]:checked ~ .box-imgUser {
  background: orange;
}

.profile-dropdown input[type="checkbox"]:checked ~ label {
  background: orange;
}

.profile-dropdown input[type="checkbox"]:checked ~ label i {
  height: none !important;
  color: #f2f2f2;
}

.profile-dropdown input[type="checkbox"]:checked ~ label:after {
  content: '';
  position: absolute;
  top: 100%;
  right: calc(50% - 10px);
  display: block;
  border-style: solid;
  border-width: 7px 10px 0 10px;
  border-color: orange transparent transparent transparent;
  width: 0;
  height: 0 !important;
}

.profile-dropdown .box-imgUser {
  display: inline-block;
  background: #d9d9d9;
  height: 3.2rem;
  width: 3.2rem;
  vertical-align: middle;
  margin-right: 1rem;
  margin: .5rem .75rem .5rem .5rem;
  border-radius: 50%;
}

.profile-dropdown .box-imgUser img {
  height: 2.5rem;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 5px;
  width: 78% !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.profile-dropdown span {
  display: inline-block;
  vertical-align: sub;
  width: 125px;
  margin-right: 2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 15px;
}

.profile-dropdown ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
  background: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  border-radius: 3px;
}

.profile-dropdown ul li {
  float: none !important;
}

.profile-dropdown ul li a {
  display: block;
  padding: .75rem 1rem;
  text-decoration: none;
  color: #737373;
  font-size: .9rem;
}

.profile-dropdown ul li a i {
  font-size: 1.3rem;
  vertical-align: middle;
  margin: 0 .75rem 0 -.25rem;
  height: none !important;
}

.profile-dropdown ul li a:hover {
  background: #e5e5e5;
}

.profile-dropdown ul li:first-child a:hover {
  border-radius: 3px 3px 0 0;
}

.profile-dropdown ul li:last-child a:hover {
  border-radius: 0 0 3px 3px;
}

.profile-dropdown > label {
  position: relative;
  height: 4.5rem;
  display: block;
  text-decoration: none;
  background: transparent;
  color: #333;
  margin-bottom: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.3rem;
  float: right;
  border-radius: 0 3px 3px 0;
}

.profile-dropdown > label i {
  color: #b2b2b2;
  font-size: 1.2rem;
  margin: 5px 0 0 0;
  height: none !important;
}

.profile-dropdown:after {
  content: '';
  display: table;
  clear: both;
}

@-webkit-keyframes push {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes push {
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.container-profile-nav {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto 0;
}

.container-profile-nav .half {
  width: 100%;
  float: left;
}

.container-profile-nav:after {
  content: '';
  display: table;
  clear: both;
}

p.subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
  text-align: center;
  margin: .5rem 0 2rem;
  letter-spacing: .1rem;
}
/*# sourceMappingURL=cssindex.css.map */