* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

body {
    font-family: 'Poppins', sans-serif;
}

.modal-editProfile {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 102;
    /* Sit on top */
    padding-top: 40px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-editp-content {
    position: relative;
    background-color: #212954;
    margin: auto;
    padding: 0;
    width: 50%;
    height: 80%;
    max-width: 500px;
    min-height: 550px;
    max-height: 450px;
    min-width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: .5s;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
}

.header-modal-editp {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-modal-editp>label {
    color: #fff;
    font-weight: bold;
}

.body-editp-grid {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-rows: 30% 30% 30%;
    row-gap: 20px;
}

.boxgray {
    background: #1c2347;
    width: 80%;
    height: 100%;
    margin: auto;
    border-radius: .3em;
}

.grid-content-update {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    height: 100%;
}

.grid-content-update .img-update-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-content-update .img-update-user img {
    width: 120px;
    height: 90px;
    border-radius: .3em;
    object-fit: cover;
}

.file-no-browse:focus {
    background: #000 !important;
    outline: none !important;
    border: 0 !important;
}

.grid-content-update .img-update-user button {
    font-size: .8rem;
    margin-top: 5px;
    color: tomato;
    background-color: none !important;
    border: 0 !important;
    outline: none;
    cursor: pointer;
}

.grid-content-update .img-update-user button:focus,
.grid-content-update .img-update-user button:hover {
    outline: none !important;
    box-shadow: none !important;
    background-color: none !important;
}

.btn-secondary {
    background: none !important;
}

.text-success {
    display: none !important;
}

.data-info-user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-info-user-profile label {
    color: #fafafa;
    font-size: .8rem;
    margin: 8px 0;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 5px;
}

.data-info-user-profile .state {
    background-color: transparent;
    border: 0;
    height: auto;
    width: 60%;
    margin-top: 5px;
    font-size: .8rem;
    padding: 5px 10px;
    border-radius: 10em;
    transition: all .5s;
}

.data-info-user-profile .state:focus {
    background: #202438;
    transition: all .5s;
}

.data-info-user-profile input {
    width: 80%;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
    font-size: .9rem;
    color: #fafafa;
    border-radius: .2em;
    background: #202438;
    outline: none;
    border: solid 1px #212954;
}


/* Image upload */

#avatar-2 {
    width: 100%;
    font-size: 1vw;
}

.image-user-form {
    width: 80%;
}

.boxgray.who-im>label {
    color: #fff;
    height: 10%;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: bold;
}

.who-im {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.who-im textarea {
    border: solid 1px #212954;
    height: 70%;
    width: 80%;
    background: #202438;
    font-size: 1vw;
    outline: none;
    font-weight: normal !important;
    color: #fff;
    padding: 10px;
}

.boxgray.social-networks-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-social>i {
    color: #fff;
    font-size: 1.6vw;
}

.inputs-social {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
}

.inputs-social>input {
    width: 100%;
    height: 25%;
    border: solid 1px #212954;
    background: #202438;
    outline: none;
    border-radius: .2em;
    color: #fff;
    padding: 5px;
    font-size: 1vw;
}

.icons-social {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.footer-modal-editp {
    width: 100%;
    display: flex;
    height: 10%;
    justify-content: flex-end;
    align-items: center;
}

.button-modal-profile {
    padding-right: 50px;
}

.button-modal-profile>button {
    box-shadow: none !important;
}