@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}


@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #eee;
    color: #444;
    border-radius: .5em;

	cursor: pointer;
	padding: 18px;
	width: 90%;
	font-size: 20px;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
  }

  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordion:hover {
	background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
	padding:0;
    width:100%;
    height:500px;

	max-height: 0;
	overflow-y:auto;
	transition: max-height 0.2s ease-out;
  }
  


.caja_comentarios{
    display:flex;
    
    width: 90% ;
    margin: auto;
    border-radius: .5em;

    padding:30px;
    background-color: #1a2243;
    flex-direction: column;
}

.caja_textoComentario{
    background:#D2CCCB;
    display:inline-block;
    padding:5px;
    text-align: left;
    width:80%;
    border-radius: 1em;

}

.caja_textoComentario label{
color:#3a4aa3;

font-size: 15px;

}
.caja_textoComentario p{
  
    font-size: 15px;
}


.caja_comentario{

    display:flex;
    margin-bottom:25px;
   
    width:100%;
}


.caja_fotoComentario{

    width:max-content;
    height:100%;
    margin-right:14px;
    
    display:flex;
    


}

.caja_fotoComentario > i{
    padding-top:20px;
    color:white;
    font-size:30px;
}
.caja_fotoComentar > i{

    color:white;
    font-size:30px;
}


.caja_fotoComentario > img{
    width: 35px;
    border-radius:50%;
    height: 35px;
}

.caja_comentar{
    width: 100%;
    display: flex;
    

}


.caja_comentar > button{
    border-radius:.5em;

}


.caja_fotoComentar{
    width: 35px;
    height:35px;
    object-fit: cover;
    margin-right:5px;


}

.caja_fotoComentar > img{
width: 100%;
height:100%;
border-radius: 50%;
object-fit: cover;
}

.input_comentar{
    margin-right:5px;
    border-radius: 1em;
  
    width: 80%;


}