*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgRedonda {
    width:200px;
    height:200px;
    border-radius:150px;
}

.img{
    align-self: center;
    margin-left: 10%;
}

.titulo{
    font-size: 50px;
    align-self: center;
    margin-left: 10%;
    line-height: 20px;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
   
}
.Subtitulo{
    font-size: 55px;
    align-self: center;
    margin-left: 10%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #1c2347;
}
th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    font-family: 'Poppins', sans-serif;
    
}
table {
    margin-left: 32%;
    
}

hr{
    width: 55%; 
    margin-left: 32%; 
    background: #1c2347
}
.titulosTabla {
    font-weight: bold;
    
}
.contenedorTexto{
    margin-top: 5%;
    display: flex;
    margin-left: 50%;
    
}
.contenedorTitulos{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.textoTitulos{
    font-family: 'Poppins', sans-serif;
    color: #1c2347;
    font-weight: bold;
    flex-basis: 100%;
    font-size: 25px;

}
.textoTituloAbajo{
    font-family: 'Poppins', sans-serif;
    color: #1c2347;
    flex-basis: 100%;
    text-align: center;
    
}
.texto{
    font-family: 'Poppins', sans-serif;
    width: 60%;
    margin-left: 10%;
}
.progreso{
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
    width: 100%;
}
